<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Estas Buscando : <strong>{{query}}</strong></p>
    
    {% if produ %}
    <p>Articulos encontrados: {{produ|length}} articulos </p>
    <ul>
        {% for pro in produ %}
        <li> {{pro.nombre}}</li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No esta el articulo encontrado</p>
    {% endif %}
</body>
</html>